@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap"); 
@font-face {
  font-family :'Quicksand';
  font-style : normal;
  font-weight : 500;
  src : url("./fonts/Quicksand-SemiBold.ttf") format('ttf');
}

@font-face {
  font-family :'Quicksand';
  font-style : normal;
  font-weight : 400;
  src : url("./fonts/Inter-Regular.ttf") format('ttf');
}

@font-face {
  font-family :'Quicksand';
  font-style : normal;
  font-weight : 600;
  src : url("./fonts/Quicksand-Bold.ttf") format('ttf');
}

@font-face {
  font-family : 'Quicksand';
  src : url("./fonts/Quicksand-Medium.ttf") format('ttf');
  font-style : normal;
  font-weight : 300;
}

@font-face {
  font-family : 'Quicksand';
  src : url("./fonts/Quicksand-Regular.ttf") format('ttf');
  font-style : normal;
  font-weight : 200;
}
@font-face {
  font-family : 'Quicksand';
  src : url("./fonts/Quicksand-Regular.ttf") format('ttf');
  font-style : normal;
  font-weight : 100;
} 

body {
  font-family: 'Quicksand';
}

@media only screen and (max-width: 600px) {
  .ant-modal {
    width: 90% !important;
  }
}

@media only screen and (max-width: 1024px) {
  .ant-modal {
    width: 90% !important;
  }
}

@media only screen and (min-width: 1024px) {
  .ant-modal {
    width: 60% !important;
  }
}
